name: ci-pipeleine

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses : actions/Checkout@v5

    - name: Set up Node.js
      uses : actions/setup-node@v3
      with:
         node-version: 16

    - name: install dependencies
      run : npm install

    - name: run test
      run : npm test

